 
 <div id = "inner">
     <h1><u>Game Faqs</u></h1>
     <div id="races">
         <h1>Races</h1>
         
         <h2>Humans</h2>
         <p>a race in which only knows how to start wars and take land. However, their specialty in swords and trade allow them to survive.</p>
         
         <h2>Elf</h2>
         <p>a race that take shelter in the woods that protect them. Being loved by nature, they have the ability to use their surrounding to their advantages.</p>
         
         <h2>Dwarf</h2>
         <p>a race in which their skin is as tough and hard as the mountains they mine. They specialize in axes and also have short tempers.</p>
         
         <h2>Gnome</h2>
         <p>a race in which are known to be the shortest of all but don't let that fool you. They have the best tools and machines that will scare anyone who comes to mess with them.</p>
         
     
     </div>
     
     <div id="classes">
        <h1>Classes</h1>
        
        <h2>Warrior</h2>
        <p>Weak against long range opponents but if they close the gap, the enemy has no chances to win</p>
        
        <h2>Wizard</h2>
        <p>Bind their opponents so that they have time to cast their spells to put them down.</p>
        
        <h2>Archer</h2>
        <p>Specializing in long range attacks, they not only use bows but also traps to keep the distance from their enemies.</p>

     </div>
     
     <div id="attributes">
         <h1>Attributes</h1>
         <h2>Strength</h2>
         <p>
            Strength increases overall damage dealt. Allows a player to be able  
            to equip heavier and stronger weapons.
         </p>
         
         <h2>Perception</h2>
         <p>
            Perception increases a players chance to parry attacks and also
            being able to hear sounds that other players with lower perception  
            cannot. 
         </p>
         
         <h2>Endurance</h2>
         <p>
            Endurance increases overall Hitpoints, and allows players to wear 
            heavier armor. 
         </p>
         
         <h2>Charisma</h2>
         <p>
            Charisma gives players a chance to receive bonus rewards or xp 
            from quests or monsters. 
         </p>
         
         <h2>Intelligence</h2>
         <p>
            Intelligence gives players additional skill points to master 
            their class. 
         </p>
         
         <h2>Agility</h2>
         <p>
            Agility increases overall lightness. Allowing players to move quicker, 
            attack faster, and jump higher.  
         </p>
         
         <h2>Luck</h2>
         <p>
           Luck increases the chance for enemies to miss and also gives player  
           a higher chance to receive rare items.  
         </p>
    </div>
 </div>