<br/>
<br/>
<h1>RPG Character Maker</h1>
    <body>
        <div id = inner>
            <p>
                Welcome View !
                <%= link_to 'New character', new_character_path %>
            </p>
        </div>
        
    </body>

