<br/>
<br/>
<h1>RPG Character Maker</h1>
    <body>
        <div id = inner>
            <p>
                Welcome new adventurer! Are you ready to establish yourself and set out to explore? Maybe you have dreams of grandeur or 
                are maybe you're just some farm hand looking to escape the humdrum of everyday life. No matter what you're background, from here 
                you'll be able to make a name for yourself and have your legend told by bards across the land. Now go forth, for justice or infamy, 
                glory or pride, show us all what you will become in this land!
                
            </p>
            <p><%= link_to 'My Characters', controller: 'characters' %></p>
        </div>
        
    </body>

