<br/>
<br/>
<h1>RPG Character Maker</h1>
    <body>
        <div id = inner>
            <p>
                New Character View !
                <%= link_to 'Back', controller: 'welcome' %>
            </p>
        </div>
        
    </body>
